.DS_Store
Thumbs.db
data/
simulation/output/
real_data/output/
SPARK/output/
SpatialDE/
.Rproj.user/
.Rhistory
.RData
/.idea/
.Ruserdata
.ipynb_checkpoints/

src/*.o
src/*.so
src/*.dll

*.tar.gz
*.Rcheck/